<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.js"></script>
  <script src="../../../download/jsrender.js"></script>
  <script src="../../sample-viewer.js"></script>
  <link href="sample.css" rel="stylesheet"/>
</head>
<body>

<script id="peopleTemplate" type="text/x-jsrender">

  <b>{{:#index+1}}:</b> {{>firstName}} {{>lastName}}:

  <br/>
  {{for address tmpl="#addressTemplate"}}{{else}}
    Address missing
  {{/for}}

  <div>
    Phones:
    {{for ~combine(phones, cells)}}
      <b>{{>#data}}</b> ({{>#parent.parent.data.firstName}}'s)
    {{else}}
      {{>#parent.data.firstName}} has no phones or cells
    {{/for}}

{{!-- or provide an alias to get to firstName from nested content
    Phones:
    {{for ~combine(phones, cells) ~frstNm=firstName}}
      <b>{{>#data}}</b> ({{>~frstNm}}'s)
    {{else}}
      {{>~frstNm}} has no phones or cells
    {{/for}}
--}}
  </div>

  <br/>

  <i>
    {{>firstName}}

    {{if address && address.street}}
      {{!-- address may be null or undefined --}}
      lives in {{>address.street}}.
    {{else}}
      {{:~lateMessages.noAddress || ~messages.noAddress}}
    {{/if}}
  </i>
  <hr/>

</script>

<script id="addressTemplate" type="text/x-jsrender">
  <div>
    {{if street}}
      {{>street}}
    {{else}}
      <i>Somewhere</i> in
    {{/if}}
    {{>city}}
  </div>
</script>

<div id="peopleList"></div>

<!--<script src="sample.js"></script> <!--uncomment for testing as standalone page-->
</body>
</html>
