body {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 0 0 0 5px;
}

.remove {
  margin-right: -7px;
  display: inline-block;
  cursor: pointer;
}

.remove:after {
  color: #be614c;
  font-weight: bold;
  padding: 0 6px 2px;
  content: 'x';
}

.remove:hover:after {
  color: red;
  background-color: #dbffe0;
}

.val-title {
  color: blue;
  font-style: italic;
}

.val-title-error {
  color: #cf321d;
  font-weight: bold;
  font-style: italic;
}
