body {
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 0 0 0 5px;
}

input, select, textarea {
	margin: 5px;
}

.radiogroup input {
	margin: 3px 3px 3px 5px;
	padding: 0;
}
.remove {
	cursor: pointer;
}

.val-title {
	color: blue;
	font-style: italic;
}

.val-title-error {
	color: #cf321d;
	font-weight: bold;
	font-style: italic;
}
