################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
Scripts/_references.js
node_modules
/resources/previousImages
