<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.js"></script>
  <script src="../../../../download/jsrender.js"></script>
  <script src="../../../sample-viewer.js"></script>
  <script src="../../../../download/sample-tag-controls/range/range.js"></script>
  <link href="sample.css" rel="stylesheet"/>
</head>
<body>

<div id="team"></div>

<script id="teamTemplate" type="text/x-jsrender">
  <h4>Members 2 to 4</h4>
  <ul>
    {{range members start=1 end=3}}
      <li>
        {{:name}}
      </li>
    {{else}}
      <li>No items</li>
    {{/range}}
  </ul>

  <h4>Members 2 to end</h4>
  <ul>
    {{range members start=1}}
      <li>
        {{:name}}
      </li>
    {{else}}
      <li>No items</li>
    {{/range}}
  </ul>

  <h4>Members 5 to 8</h4>
  <ul>
    {{range members start=4 end=7}}
      <li>
        {{:name}}
      </li>
    {{else}}
      <li>No items</li>
    {{/range}}
  </ul>

  <h4>Integers 3 to 7</h4>
  <ul>
    {{range start=3 end=7}}
      <li>
        {{:#data}}
      </li>
    {{else}}
      <li>No items</li>
    {{/range}}
  </ul>


  <h4>Integers from 4 to 0</h4>
  <ul>
    {{range start=4}}
      <li>
        {{:#data}}
      </li>
    {{else}}
      <li>No items</li>
    {{/range}}
  </ul>

</script>

<!--<script src="sample.js"></script> <!--uncomment for testing as standalone page-->
</body>
</html>
