<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.js"></script>
  <script src="../../download/jsviews.js"></script>
  <script src="../sample-viewer.js"></script>
  <link href="../samples.css" rel="stylesheet" />
</head>
<body>
<style>
  .person { padding: 3px; margin: 5px; cursor: pointer; }
  .special { color: blue; font-style: italic; }
  .details { color: green; border: 2px solid grey;
             display:none; padding: 3px; margin-left :40px; }
  .question { width: 24px; vertical-align: text-bottom; }
</style>

<div id="people"></div>

<script id="peopleTemplate" type="text/x-jsrender">
  <button id="add">Add person</button>
  {^{for people}}
    <div
      class="person"
      {{include tmpl="#attributesTmpl" ~id='role_'+#index link=false /}}
    >
      <span class="{{if role.indexOf('Lead')>=0 link=false}}special{{/if}}" >
        {{:first}} <b>{{:last}}</b>
      </span>
      <img class="question" src="question.jpg"/>

      <span class="details" id="role_{{:#index}}">
        {{:role}}
      </span>
    </div>
  {{/for}}
</script>

<script type="text/x-jsrender" id="attributesTmpl">
  class="hover {{if role.indexOf('Lead')>=0}}special{{/if}}"
  onmouseover="$('#{{:~id}}').show();"
  onmouseout="$('#{{:~id}}').hide();"
</script>

<!--<script src="4_linked-for-tag.js"></script> <!--uncomment for testing as standalone page-->
</body>
</html>
