body {
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 0 0 0 5px;
}

.blueborder {
	color: green;
	border: blue solid 2px;
}

.chosenday {
	font-weight: bold;
	font-style: italic;
	border: 2px solid green;
	color: blue;
	padding: 5px;
}

.wizard {
	width: 600px;
	height: 360px;
	border: 1px solid #40478E;
	padding: 10px;
}

.wizard button {
	float: right;
	margin: 3px;
}
