body {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 0 0 0 5px;
}

table tr {
  color: blue;
  height: 25px;
}

table {
  border-collapse: collapse;
  border: 2px solid blue;
  padding: 2px;
  background-color: #f8f8f8;
  width: 600px;
  margin-top: 13px;
}

thead tr {
  color: #009;
  border-bottom: solid #77c 2px;
  background-color: #E8E8F7;
}

thead th {
  padding: 5px;
  border: 1px solid #77c;
}

table td {
  padding: 3px;
  border: solid #77c 1px;
}

.role {
  font-weight: bold;
  font-style: italic;
  background-color: Yellow;
}

.synopsis {
  background-color: white;
  padding: 15px;
}

.director {
  font-weight: bold;
  font-style: italic;
  color: red
}
