body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.home, .nothome {
	background-color: white;
	overflow-x: hidden;
	width: 1240px;
	max-width: 100%;
	min-width: 768px;
	margin: auto;
}

.menus {
	background-color: white;
}

.menus.top {
	position: fixed;
	width: 1238px;
	left: 50%;
	right: 50%;
	margin: 0 0 -4px -620px;
	z-index:10;
	border-bottom: 1px solid #407BB1;
	padding: 0 0 0 2px;
	color: black;
}

.menus a {
	width: 14.31%;
	display: inline-block;
	text-align: center;
	font-size: 9pt;
	margin: -2px -2px -9px -2px;
	padding: 11px 0 4px;
	color: black;
}

.menus.top a.selected, .menus.top a.selected:visited {
	border-bottom: 7px solid #BBC9D1;
	padding: 4px 0 2px;
	color: #227099;
	font-weight: bold;
	font-size: larger;
	padding-bottom: 2px;
	margin-bottom: -7px;
}

.buttonbox, .menus a {
	text-decoration: none;
}

.menus .unselected:hover {
	cursor: pointer;
	border-bottom: 3px solid #30a4e6;
	color: #227099;
	font-weight: bold;
}

.menus .selected:hover {
	cursor: default;
}

.menus.bottom {
	background-color: #3F3F3F;
	margin: 0;
	width: 100%;
}

.menus.bottom a {
	margin: 4px -3px 4px -3px;
	padding: 2px 0 2px;
	color: #e5e5e5;
	border: 1px solid transparent;
}

.menus.bottom .unselected:hover {
	color: #fff;
	border: 1px solid #6E7172;
	font-weight: bold;
}

.menus.bottom .selected {
	color: #fff;
	font-weight: bold;
}

.menupointer {
	display: none;
	float: left;
	position: relative;
	left: 50%;
	top: 21px;
}

.home .menupointer {
	top: 11px;
}

.home .unselected .menupointer {
	display: none;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.home .selected .menupointer {
	display: block;
	color: transparent;
}

.home .unselected:hover .menupointer {
	display: block;
	color: transparent;
}

.menus .menupointer, .menus #home.selected .menupointer {
	display: none;
}

.topnav a {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.nothome .main-item, .nothome .buttonbox {
	display: none;
}

.topnav .main-item {
	opacity: 0.3;
	filter: alpha(opacity=30);
	border: 1px solid transparent;
	display: inline-block;
	width: 25%;
	text-align: center;
	/*transform: scale(0.96);
	-webkit-transform: scale(0.96);
	-moz-transform: scale(0.96);
	-ms-transform: scale(0.96);
	transition: 0.1s all;*/
}

.topnav .main-item.unselected:hover  {
	opacity: 1.0;
	filter: alpha(opacity=100);
	border: 1px solid #C3CFD5;
	cursor: pointer;
	/*transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);*/
}

img.logo {
	width: 90px;
	margin-top: 25px;
}

.topnav .main-item.selected {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.topnav .main-item-title {
	font-size: 28pt;
	color: #999;
	font-family: "museo", "helvetica", "arial", sans-serif;
}

.topnav .main-item:hover .main-item-title, .topnav .selected .main-item-title {
	color: black;
}

.topnav .main-item-title .title-bold {
	font-weight: bold;
}

.topnav {
	width: 100%;
}

.home .topnav {
	padding: 30px 12% 0 12%;
}

.nothome .topnav {
	padding: 30px 12% 0 12%;
}

.nothome .main-item {
	display: none;
}

.divider {
	background-color: #3F3F3F;
	color: #F6F6F6;
	width: 100%;
	margin-top: 15px;
}

.home .divider {
	margin-top: 10px;
}

.home .divider .about {
	width: 70%;
	display: inline-block;
	padding: 4px;
}

.divider .about .caption {
	display: block;
	text-align: center;
	padding: 6px;
}

.divider .about .caption.sub {
	font-style: italic;
}

.buttonbox {
	display: inline-block;
	background-color: #349dda;
	color: white;
	vertical-align: top;
	margin: 19px 0 0 30px;
	width: 134px;
	text-align: center;
	line-height: 24px;
}

.buttonbox.github {
	background-color: #CBCBCB;
	color: #3e3e3e;
}

.filler span {
	display: inline-block;
	width: 20%;
	height: 20px;
}

.filler {
	margin: 0 0 -4px;
}

.filler span:nth-child(2n+1) {
	background-color: #656565;
}

.filler span:nth-child(2n+0) {
	background-color: #545454;
}

.home > table, .nothome > table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.home .sidenav {
	padding: 6px 8px 0 20px;
	width: 30%;
}

.sidenav {
	padding: 15px 0;
	width: 23%;
	font-size: 13px;
	border-right: 2px solid #abc5d3;
	height: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}

.sidenav .title {
	background-color: #f2f2f2;
	font-size: 15px;
}

.topic {
	width: 76%;
	height: 100%;
	background-color:#f8f8f5;
	vertical-align: top;
	padding-left: 15px;
}

.home .topic {
	width: 69%;
}

.home .samplesection {
	margin: 0 -2px 10px -16px;
}

.home .currenttopic {
	padding-top: 0;
	margin-top: -5px;
}

.footer {
	height: 20px;
	background-color: #41687C;
	color: white;
	text-align: center;
	padding-top: 8px;
	font-size: 8pt;
	width: 100%;
}

.home .footer {
	height: 45px;
}

.more {
	position: relative;
	padding-left: 85%;
	top: -40px;
	font-style: italic;
}
 
 .morebtn {
	 height: 37px;
	 margin-bottom: -14px;
	 top: 10px;
 }

 .nextarrow {
	display: inline-block;
	width: 5%;
	padding: 5px 0 5px 0;
	text-align: right;
	vertical-align: middle;
	float: right;
	margin-top: 250px;
	height: 20px;
}

 .nextarrow img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	border: 1px solid transparent;
	height: 45px;
	position: relative;
	top: -30px;
	left: 16px;
} 

 .nextarrow:hover {
	cursor: pointer;
} 

 .nextarrow:hover img {
	opacity: 1.0;
	filter: alpha(opacity=100);
	border: 1px solid #C3CFD5;
} 

.hometopic {
	display: inline-block;
	width: 94%;
	vertical-align: middle;
 }

#download, #github {
	display: none;
}

.download #download, .github #github {
	display: block;
	width: 100%;
}

.download .sidenav, .github .sidenav {
	border-right: none;

}
.download .content, .github .content, .download .divider, .github .divider, .download .topnav, .github .topnav, .download .menus.top, .github .menus.top {
	display: none;
}

