body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	overflow-y: scroll;
}

.home, .nothome {
	background-color: white;
	overflow-x: hidden;
	width: 1241px;
	max-width: 100%;
	margin: auto;
}

.menus {
	background-color: white;
}

.menus.top {
	position: fixed;
	width: 1239px;
	left: 50%;
	margin: 0 0 -4px -621px;
	z-index: 10;
	border-bottom: 1px solid #407BB1;
	padding: 0 0 0 2px;
	color: black;
}

.menus a { /*width: 14.31%;  -  original */
	margin: -2px -2px -9px -2px; /*width: 11%;*/ /*margin: -2px 0 -9px 11%; reduced*/ /*width: 9.7%;*/
	width: 9.98%;
	display: inline-block;
	text-align: center;
	font-size: 9pt;
	padding: 11px 0 4px;
	color: black;
}


.menus.top a.selected, .menus.top a.selected:visited {
	border-bottom: 7px solid #9fbccb;
	padding: 4px 0 2px;
	color: #41687C;
	font-weight: bold;
	font-size: 10.92pt;
	padding-bottom: 2px;
	margin-bottom: -7px;
}

.buttonbox, .menus a {
	text-decoration: none;
}

.menus .unselected:hover {
	cursor: pointer;
	border-bottom: 3px solid #30a4e6;
	color: #41687C;
}

.menus .unselected {
	border-bottom: 3px solid transparent;
	-moz-transition-property: border-color, color;
	-o-transition-property: border-color, color;
	-webkit-transition-property: border-color, color;
	transition-property: border-color, color;
	-moz-transition-duration: .25s;
	-o-transition-duration: .25s;
	-webkit-transition-duration: .25s;
	transition-duration: .25s;
}

.menus .selected:hover {
	cursor: default;
}

.menus.bottom {
	background-color: #3F3F3F;
	margin: 0;
	width: 100%;
}

.menus.bottom a { /*width: 24%;*/
	margin: 4px -3px 4px -3px;
	padding: 2px 0 2px;
	color: #e5e5e5;
	border: 1px solid transparent;
}

.menus.bottom .unselected:hover {
	color: #fff;
	border: 1px solid #6E7172;
	font-weight: bold;
}

.menus.bottom .selected {
	color: #fff;
	font-weight: bold;
}

.menupointer { /*display: none;*/
	float: left;
	position: relative;
	left: 50%;
	top: 21px;
}

.home .menupointer {
	top: 11px;
}

.home .unselected .menupointer {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
}

.home .selected .menupointer {
	display: block;
	color: transparent;
}

.home .unselected:hover .menupointer {
	opacity: 0.5;
	filter: alpha(opacity=50);
	display: block;
	color: transparent;
}

.topnav a {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.nothome .main-item, .nothome .buttonbox {
	display: none;
}

.topnav .main-item {
	opacity: 0.3;
	filter: alpha(opacity=30);
	border: 1px solid transparent;
	display: inline-block;
	width: 25%;
	text-align: center;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.topnav .main-item.unselected:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	border: 1px solid #C3CFD5;
	cursor: pointer;
}

img.logo {
	width: 90px;
	margin-top: 25px;
}

.topnav .main-item.selected {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.topnav .main-item-title {
	font-size: 28pt;
	color: #999;
	font-family: "museo", "helvetica", "arial", sans-serif;
}

.topnav .main-item:hover .main-item-title, .topnav .selected .main-item-title {
	color: black;
}

.topnav .main-item-title .title-bold {
	font-weight: bold;
}

.topnav {
	width: 100%;
}

.home .topnav {
	padding: 30px 12% 0 12%;
}

.nothome .topnav {
	padding: 30px 12% 0 12%;
}

.nothome .main-item {
	display: none;
}

.toptable {
	table-layout: fixed;
	width: 100%;
}

.divider {
	background-color: #3F3F3F;
	color: #F6F6F6;
	margin-top: 15px;
	width: 1240px;
}

.home .divider {
	margin-top: 10px;
}

.home .divider .about {
	width: 68%;
	display: inline-block;
	padding: 4px;
}

.divider .about .caption {
	display: block;
	text-align: center;
	padding: 6px;
	color: white;
}

.divider .about .caption.sub {
	font-style: italic;
	color: #F6F6F6;
}

.buttonbox {
	display: inline-block;
	background-color: #349dda;
	color: white;
	vertical-align: top;
	margin: 19px 0 0 1%;
	width: 12%;
	text-align: center;
	line-height: 24px;
}

.buttonbox.github {
	background-color: #CBCBCB;
	color: #3e3e3e;
}

.filler span {
	display: inline-block;
	width: 248px;
	height: 20px;
}

.filler {
	margin: 0 0 -4px;
}

.filler span:nth-child(2n+1) {
	background-color: #656565;
}

.filler span:nth-child(2n+0) {
	background-color: #545454;
}

.home > table, .nothome > table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.home .sidenav {
	padding: 6px 8px 0 20px;
	width: 30%;
}

.sidenav {
	padding: 15px 0;
	width: 280px;
	font-size: 13px;
	border-right: 1px solid rgba(40, 129, 175, 0.63);
	height: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}

.sidenav .title {
	background-color: #f2f2f2;
	font-size: 15px;
}

.panel.topic {
	width: 79%;
	height: 100%;
	background-color: #f8f8f5;
	vertical-align: top;
	padding-left: 15px;
}

.home .topic {
	width: 69%;
}

.home .samplesection {
	margin: 0 -2px 10px -16px;
}

.home .currenttopic {
	padding-top: 0;
	margin: -5px 0 -5px;
}

.home pre {
	margin: 10px 0 10px;
}

.home .title {
	margin: 10px 10px 0px 0;
}

.footer {
	height: 20px;
	background-color: #41687C;
	color: white;
	text-align: center;
	padding-top: 8px;
	font-size: 8pt;
	width: 100%;
}

.footer span {
	display: none;
}

.home .footer span {
	display: inline;
}

.home .footer img {
	vertical-align: middle;
	width: 90px;
	margin: -1px 0 0 8px;
}

.home .footer {
	height: 35px;
}

.more {
	position: relative;
	padding-left: 85%;
	top: -40px;
	font-style: italic;
}

.morebtn {
	height: 37px;
	margin-bottom: -14px;
	top: 10px;
}

.nextarrow {
	display: inline-block;
	width: 5%;
	padding: 5px 0 5px 0;
	text-align: right;
	vertical-align: middle;
	float: right;
	margin-top: 250px;
	height: 20px;
}

.nextarrow img {
	opacity: 0.4;
	filter: alpha(opacity=40);
	border: 1px solid transparent;
	height: 45px;
	position: relative;
	top: -30px;
	left: 16px;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-duration: .4s;
	-o-transition-duration: .4s;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
}

.nextarrow:hover {
	cursor: pointer;
}

.nextarrow:hover img {
	opacity: 1.0;
	filter: alpha(opacity=100);
	border: 1px solid #C3CFD5;
}

.hometopic {
	display: inline-block;
	width: 94%;
	vertical-align: middle;
}

body.dashboard {
	padding: 40px;
}

body.dashboard label {
	font-weight: bold;
	display: block;
}

button {
	cursor: pointer;
}