body {
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 0 0 0 5px;
}

input, select, textarea {
	margin: 5px;
}

.radiogroup input {
	margin: 3px 3px 3px 5px;
	padding: 0;
}

.remove {
	margin-right: -7px;
	display: inline-block;
}

.remove:after {
	color: #be614c;
	font-weight: bold;
	padding: 0 6px 2px;
	content: 'x';
	cursor: pointer;
}

.remove:hover:after {
	color: red;
	background-color: #dbffe0;
}
