body {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 0 0 0 5px;
}

.svg-circles {
  height: 102px;
  width: 400px;
  overflow: hidden;
  border: 2px solid #aaa;
  display: block;
  margin: 30px 0 25px;
  background-color: #bb8
}

.svg-circle {
  fill: transparent;
  stroke-width: 1;
}

.slider {
  margin: 30px 0 25px;
  width: 800px;
}
.slider  .ui-slider-range {background: #708570;}
.slider  .ui-slider-handle {border-color: green;}

#toolbar {
  padding: 1px;
  display: inline-block;
}
