.val-msg {
  margin: 8px;
}

.invalid.val-msg {
  margin-right: 8px;
  border: 2px solid #cf321d !important;
}

.radiogroup.val-msg {
  padding: 3px;
  display: inline-block;
}

.radiogroup.invalid.val-msg {
  margin: 6px;
}

select.invalid.val-msg {
  margin: 7px;
}

input[type=radio] {
  margin:  3px 5px;
  padding: 0;
}

label.error {
  color: #cf321d;
  font-style: italic;
}
