ul.jsonview {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-left: 0;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
ul.jsonview li {
  padding-left: 0;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  color: #a31515;
}
ul.jsonview li label {
  color: #000;
  font-style:italic;
  font-weight: normal;
}
.jsonview .brace {
  color: #00f;
  font-style:normal;
}
ul.jsonview li.function {
  white-space:pre;
  overflow:auto;
  font-family: monospace;
  font-style: italic;
}
ul.jsonview li.function label {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}
